<header>
  <h3>Encuentra tu próximo evento</h3>
  <p>1 evento en tus grupos · 1.456 eventos cerca de ti</p>
</header>

<div class="container mb-5">
  <nav class="search-navbar navbar sticky-top navbar-dark bg-black navbar-expand-md">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
      <form class="form-inline search-container">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <p class=" nav-item">a menos de <span id="distancia">5 km</span> de <span class="ciudad">Barcelona</span>&nbsp;</p>
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>

      </ul>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark mode-button" [ngClass]="{'active': groupSearch}"
          (click)="changeMode('grupos')">Grupos</button>
        <button type="button" class="btn btn-dark mode-button" [ngClass]="{'active': calendarSearch}"
          (click)="changeMode('calendario')">Calendario</button>
      </div>
      <!-- <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
    </div>


    <!-- <form class="form-inline my-2 my-lg-0"> -->

    <!--       <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
      </div> -->


    <!-- <form class="form-inline search-container">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul> -->


    <!-- </form> -->
    <!-- <a class="navbar-brand" href="#">Sticky top</a> -->
  </nav>

  <!-- <div class="row" *ngIf="!_user.loggedUser || _data.allEvents.length == 0">
    <img class="spinner" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />

  </div> -->





  <div class="row">
    <!-- <div class="col-12"> -->
    <!-- <div *ngIf="!_user.loggedUser || _data.allEvents.length == 0" id="cover-spin"></div> -->
    <!-- </div> -->
    <div class="col-12 col-md-8">
      <div *ngFor="let event of _data.allEvents; let i = 'index'" class="">
        <table class="table event-table">
          <thead >
            <tr >

              <td colspan="2" >
                <b>{{event["eventDateFormatted"]}}</b>

              </td>

            </tr>

          </thead>

          <tr class="border bg-white">
            <td class="eventTime">{{event["eventDateTime"]}}</td>
            <td>
              <small class="text-muted text-uppercase" (click)="loadOrganizer(i)">{{event["organizer"]["name"]}}</small>
              <h4 (click)="loadEvent(i)">{{event["title"]}}</h4>
              <p class="text-muted">{{_data.allEvents[i]["attendants"].length}} miembros asistirán al evento</p>
              <!-- <p>{{event["eventPlace"]}}</p> -->
            </td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-md-4 d-none d-sm-block mt-5">
      <table class="table table-bordered options-table">
        <tr>
          <td [ngClass]="{'optionSelected': optionSelected == 0}" (click)="searchOption(0)">
            <a [routerLink]="['']">Todos los eventos previstos</a>
          </td>
        </tr>
        <tr>
          <td [ngClass]="{'optionSelected': optionSelected == 1}" (click)="searchOption(1)">
            <a [routerLink]="['']">Eventos guardados</a>
          </td>
        </tr>
        <tr>
          <td [ngClass]="{'optionSelected': optionSelected == 2}" (click)="searchOption(2)">
            <a [routerLink]="['']">Tus grupos y recomendaciones</a>
          </td>
        </tr>
        <tr>
          <td [ngClass]="{'optionSelected': optionSelected == 3}" (click)="searchOption(3)">
            <a [routerLink]="['']">Solo tus grupos</a>
          </td>
        </tr>
        <tr>
          <td [ngClass]="{'optionSelected': optionSelected == 4}" (click)="searchOption(4)">
            <a [routerLink]="['']">Solo tus eventos</a>
          </td>
        </tr>
      </table>


    </div>
  </div>

</div>
