<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <ul class="list-group text-right edit-options">
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 0}" (click)="editOption(0)">
          <a>General</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 1}" (click)="editOption(1)">
          <a>Notificaciones por correo electrónico</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 2}" (click)="editOption(2)">
          <a>Notificaciones push</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 3}" (click)="editOption(3)">
          <a>Privacidad</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 4}" (click)="editOption(4)">
          <a>Redes sociales</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 5}" (click)="editOption(5)">
          <a>Suscripción de organizador</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 6}" (click)="editOption(6)">
          <a>Métodos de pago</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 7}" (click)="editOption(7)">
          <a>Pagos realizados</a></li>
        <li class="list-group-item" [ngClass]="{'optionSelected': optionSelected == 8}" (click)="editOption(8)">
          <a>Aplicaciones</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9 border bg-white">
      <div class="row title">
        <h4>General</h4>

      </div>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-6 mt-4">
              <b>Nombre:</b>
            </div>
            <div class="col-6 mt-4">
              {{_user.loggedUser["name"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('nombre')">editar</a>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Idnetificador del usuario:</b>
            </div>
            <div class="col-6">
              {{_user.loggedUser["_id"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('identificador de usuario')">editar</a>
            </div>

          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Correo electrónico:</b>
            </div>
            <div class="col-6">
              {{_user.loggedUser["email"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('correo electrónico')">editar</a>
            </div>

          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Contraseña:</b>
            </div>
            <div class="col-6">
              (Oculta) <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('contraseña')">editar</a>
            </div>

          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Ubicación:</b>
            </div>
            <div class="col-6">
              {{_user.loggedUser["location"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('ubcación')">editar</a>
            </div>

          </div>

          <hr />
          <div class="row">
            <div class="col-6">
              <b>Lugar de nacimiento:</b>
            </div>
            <div class="col-6" *ngIf="_user.loggedUser['birthplace']">
              {{_user.loggedUser["birthplace"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('lugar de nacimiento')">editar</a>
            </div>
            <div class="col-6" *ngIf="!_user.loggedUser['birthplace']">
              No indicado <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('lugar de nacimiento')">editar</a>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Idioma:</b>
            </div>
            <div class="col-6">
              {{_user.loggedUser["language"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('idioma')">editar</a>
            </div>

          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Fecha de nacimiento:</b>
            </div>
            <div class="col-6" *ngIf="_user.loggedUser['birthday']">
              {{_user.loggedUser["birthday"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('fecha de nacimiento')">editar</a>
            </div>
            <div class="col-6" *ngIf="!_user.loggedUser['birthday']">
              <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('fecha de nacimiento')">Añadir fecha de nacimiento</a>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-6">
              <b>Sexo:</b>
            </div>
            <div class="col-6" *ngIf="_user.loggedUser['gender']">
              {{_user.loggedUser["gender"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('sexo')">editar</a>
            </div>
            <div class="col-6" *ngIf="!_user.loggedUser['gender']">
              <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('sexo')">Indicar el sexo</a>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-6 mb-4">
              <b>Biografía:</b>
            </div>
            <div class="col-6" *ngIf="_user.loggedUser['bio']">
              {{_user.loggedUser["bio"]}} <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('biografía')">editar</a>
            </div>
            <div class="col-6" *ngIf="!_user.loggedUser['bio']">
              <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('biografía')">Añadir</a>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5 text-center">
          <img [src]="_user.loggedUser['profileImage']" alt="" class="profile-pic mb-2">

            <br>
          <a href="#" data-toggle="modal" data-target="#editProfile" (click)="edit('foto de perfil')">Cambiar tu foto de perfil</a>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editProfileTitle">Modificar tu {{itemToEdit}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-muted">Listo</button>
      </div>
    </div>
  </div>
</div>