<div class="container">
  <div class="row ">
    <div class="col-12 d-flex justify-content-center">

      <div class="register mt-5">
        <div class="register-header">
          <h3 class="title">Registrarse</h3>

        </div>
        <div class="register-body">
          <form>
            <div class="form-group">
              <label for="registerName">Tu nombre</label>
              <input type="text" class="form-control" id="registerName" aria-describedby="nameHelp"
                [(ngModel)]="nameRegister" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="registerEmail">Correo electrónico</label>
              <input type="email" class="form-control" id="registerEmail" aria-describedby="emailHelp"
                [(ngModel)]="emailRegister" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="registerPassword">Contraseña</label>
              <input type="password" class="form-control" id="registerPassword" [(ngModel)]="passwordRegister"
                [ngModelOptions]="{standalone: true}">
            </div>

            <p class="text-muted">Tu nombre es público. Usaremos tu dirección de correo electrónico para enviarte
              actualizaciones y tu ubicación para encontrar Meetups cerca de ti.</p>
            <button type="submit" class="btn btn-danger my-2 w-100" (click)="register()">Continuar</button>
          </form>



          <p class="text-center">Al hacer clic en «Continuar» confirmas que aceptas las <a href="#">Condiciones de
              uso</a> de Meetup.
            Gestionaremos la
            información tal y como se describe en la <a href="#">Política de privacidad</a> y la <a href="#">Política de
              cookies</a>.</p>

          <hr />
          <div class="register-footer text-center">
            <p>¿Ya eres miembro? <a [routerLink]="['/login']">Iniciar sesión</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
