<div class="container border mt-3" *ngIf="_user.currentUser">
  <div class="row">
    <div class="col-md-9 col-sm-6 ">
      <div class="row">
        <div class="col-12 profile-border">
          <div class="user-name ">
            <h2>{{_user.currentUser["name"]}}</h2>

            <hr />

            <div *ngIf="_user.currentUser['_id'] != _user.loggedUser['_id']">
              <ul class="list-inline">
                <li class="list-inline-item "><a href="#"><i class="far fa-comment-dots"></i> Mensaje</a></li>
                <li class="list-inline-item "> <a href="#"><i class="fas fa-exclamation"></i> Denunciar</a>
                </li>
                <li class="list-inline-item "><a href="#"><i class="fas fa-ban"></i> Bloquear</a></li>

              </ul>
              <!-- 
              <a href="#"><i class="far fa-comment-dots"> Mensaje</i></a>
              <a href="#"><i class="fas fa-exclamation"> Denunciar</i></a>
              <a href="#"><i class="fas fa-ban"> Bloquear</i></a> -->
            </div>
            <p>
              <!-- TO DO: comprobar el id del usuario de la ruta y compararlo con el del logged user. Si es diferente, dar opciones de escribir ensaje/bloquear/denunciar -->

            </p>
            <hr />

          </div>
        </div>
      </div>

      <div class="row personal-data profile-border">
        <div class="col-4">Ubicación</div>
        <div class="col-4">Miembro de Meetup desde: <p class="creationDate">{{_user.currentUser["creationDateFormatted"]}}</p>
        </div>
        <div class="col-4">Sígueme en:<br> <i class="fab fa-facebook-square"></i>&nbsp;<i
              class="fab fa-twitter"></i>&nbsp; <i class="fab fa-linkedin"></i>&nbsp; <i
              class="fab fa-flickr"></i>&nbsp; <i class="fab fa-tumblr-square"></i> 
        </div>

      </div>
      <div class="row">
        <div class="col-12 profile-border">
          <h2>Miembro de ** grupos de Meetup</h2>
          <!-- <div class="col-6" *ngFor="let group of _user.currentUser['groups']">
                
            </div> -->
          <div style="height: 5em"></div>
        </div>
      </div>
      <div *ngIf="_user.currentUser['_id'] != _user.loggedUser['_id']">
        <p>¿Quieres hablar conmigo? ¡Envíame un mensaje!</p>
        <span> <a href="">Enviar un mensaje a {{_user.currentUser["name"]}}.</a></span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <img [src]="_user.currentUser['profileImage']" alt="" class="profile-pic">


      <a href="" data-toggle="modal" data-target="#editProfileImage">Cambiar tu foto de perfil</a>
      <hr />
      <div>
        <h4>Intereses</h4>
        <a href="">Editar</a>
      </div>
      <hr />
    </div>

    <!-- <p class="text-muted" *ngIf="_user.currentUser['interests'].length == 0">Aún no se ha añadido nada</p>
    <ul *ngIf="_user.currentUser['interests'].length > 0">
        <li *ngFor="let interest of _user.currentUser['interests']; let i = 'index'">{{interest}}</li>
    </ul> -->
  </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="editProfileImage" tabindex="-1" role="dialog" aria-labelledby="editProfileImageTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editProfileImageTitle">Poner una foto de perfil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-muted">Listo</button>
      </div>
    </div>
  </div>
</div>
